{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id='form-seventh' action='{{ path("submission_new_seventh_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-seventy-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>
                <input type='hidden' name='accept-terms' value="off">

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Revision{% endtrans %}:</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <table class='table table-hover table-condensed table-bordered'>

                                <thead>
                                    <tr>
                                        <th class='center'>{% trans %}Field{% endtrans %}</th>
                                        <th class='center'>{% trans %}Check{% endtrans %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for revision in revisions %}
                                        <tr class='{% if not revision.status %}error{% endif %}'>
                                            <td>{{ revision.text }}</td>
                                            {% if revision.status %}
                                                <td class='center'><i class='glyphicon glyphicon-ok'></i></td>
                                            {% else %}
                                                <td class='center'><i class='glyphicon glyphicon-remove'></i></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Terms and conditions{% endtrans %}:</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for='input-accept-terms'>
                                        <input type='checkbox' name='accept-terms' id='input-accept-terms'>
                                       {% trans %}I agree with the <a href="/public/terms-and-conditions">terms and conditions</a>{% endtrans %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <a href='{{ path("submission_generate_pdf", {submission_id: submission.id}) }}' class='btn btn-default' target='_blank'>{% trans %}Create PDF{% endtrans %}</a>
                    {#{% if final_status %}#}
                        {#{% if submission.isTranslation %}#}
                            {#<a href='{{ path("submission_new_first_translation_protocol_step", {submission_id: submission.originalSubmission.id}) }}' class='btn btn-default'>{% trans %}Submit translation{% endtrans %}</a>#}
                        {#{% else %}#}
                            {#<a href='{{ path("submission_new_first_translation_protocol_step", {submission_id: submission.id}) }}' class='btn btn-default'>{% trans %}Submit translation{% endtrans %}</a>#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                    {#{% if submission.isTranslation %}#}
                        {#<a href='{{ path("submission_new_seventh_step", {submission_id: submission.originalSubmission.id}) }}' class='btn btn-default'>{% trans %}Back to original to save and finish{% endtrans %}</a>#}
                    {#{% else %}#}
                        <a href='#' data-toggle="modal" data-target="#modal-confirm-submit" class='btn btn-primary {% if not final_status %}disabled{% endif %}'>{% trans %}Save and Submit{% endtrans %}</a>
                    {#{% endif %}#}
                </div>
            </form>
        </div>
    </div>

     <!-- Modal Confirm -->
    <div class="modal fade" id="modal-confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class='form' id='form-team'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="display: inline;">{% trans %}Confrim you actions{% endtrans %}</h4>
                        <a href="{{ path("crud_admin_help_show", {help_id: 224} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    </div>

                    <div class="modal-body">
                        Are you sure you want to submit? 
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}No, Close{% endtrans %}</button>
                        <button type="submit" id='action-submit' class="btn btn-primary" data-dismiss="modal">{% trans %}Yes, Save and submit{% endtrans %}</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
                   $("#action-submit").on('click', function(e){
                        $("#form-seventh").submit();
                    });
        });
    </script>
{% endblock %}
